/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --max-width: 1110px;
  --border-radius: 12px;

  --foreground-rgb: 34, 34, 34;
  --background-rgb: 252, 252, 248;
  --primary-color-rgb: 99, 29, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 252, 252, 248;
    --background-rgb: 34, 34, 34;
    --primary-color-rgb: 189, 147, 249;
  }
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;

  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

a:hover,
a.inactive {
  opacity: 0.7;
}

a[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

main a {
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.3);
  transition: all 0.3s ease-in-out;
}

main a:hover {
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.9);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 1rem;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  outline: 0;
}

.fade {
  opacity: 0.7;
  font-size: 0.9rem;
}
